# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
agendaTareasApp/.vscode/
npm-debug.log*

agendaTareasApp/.idea/
agendaTareasApp/.sass-cache/
agendaTareasApp/.tmp/
agendaTareasApp/.versions/
agendaTareasApp/coverage/
agendaTareasApp/dist/
agendaTareasApp/node_modules/
agendaTareasApp/tmp/
agendaTareasApp/temp/
agendaTareasApp/hooks/
agendaTareasApp/platforms/
agendaTareasApp/plugins/
agendaTareasApp/plugins/android.json
agendaTareasApp/plugins/ios.json
agendaTareasApp/www/
agendaTareasApp/$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
